/* General Styling */
body {
    margin: 0;
    padding: 0;
    font-family: Poppins;
    /* box-sizing: border-box; */
}

footer {
    background: linear-gradient(270deg, #000000, #0d0016);
    background-size: 100% 100%;
    border-top: 1px solid rgb(165, 135, 255, 1);
    width: 100%;
    text-align: center; /* Center text horizontally */
}

.footer-bottom {
    display: flex;
    border-top: 1px solid rgb(165, 135, 255, 1);
    justify-content: center; /* Center text horizontally */
    align-items: center; /* Center text vertically */
    min-height: 100px; /* Optional: adjust height to ensure proper centering */
}

.footer-bottom p a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.footer-bottom p a:hover {
    text-decoration: underline;
}

/* Responsive Design */
@media (max-width: 768px) {
    .footer-bottom {
        flex-direction: column; /* Stack elements if needed */
    }
}

