/* General styles */
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: linear-gradient(90deg, #000000, #2a0047);
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #eaa4f8;
}

h2 {
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 20px;
    text-align: center;
}

/* Payment Container */
.payment-container {
    width: auto;
    border: 1px solid rgb(165, 135, 255, 1);
    height: 500px; /* Predefined height for wider screens */
    padding: 50px;
    background: radial-gradient(circle, rgb(0, 0, 0), #000000);
    border-radius: 15px;
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 0px 30px rgb(165, 135, 255, 1);
}

.payment-container:hover{
    transform:translateY(-10px);
    box-shadow: 0 0px 30px rgb(165, 135, 255, 1);
}

/* QR Code Container */
.qr-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.qr-code {
    max-width: 250px; /* Limiting the max width of the QR code */
    width: 100%;
    height: auto;
    border: 2px solid #ddd; /* Adding a slight border for a clean look */
    border-radius: 10px;
    padding: 10px;
}
.back a {
    display: block;
    width: 100%;
    border: 1px solid rgb(165, 135, 255, 1);
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    text-align: left;
    text-decoration: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    margin-top: auto; /* Push the button to the bottom */
    transition: background-color 0.3s ease;
    box-sizing: border-box; /* Ensures padding is included in the width */
}

.back a {
    color: rgb(255, 255, 255);
    border: none;
    box-shadow: 0 0px 10px rgb(187, 144, 255);
    text-align: center;
    padding: 20px 40px;
    max-width: 500px;
    margin: auto;
}


.block a {
    background-color: transparent; /* Slightly lighter background on hover */
}
